{% extends "../base.html" %}
{% block container %}
    <div id="content-wrapper">
        <div class="mui--appbar-height"></div>

        {# 廣告版位 #}
        {% include "../ad/ad300x250.html" %}

        <div class="nownews-wrapper news-one-page">
            <h2>{{ news.shortTitle }}</h2>
            <div class="mini-info">
                <p class="text-gray one-category"><a href="/news/category/{{ news.category._id }}">{{ news.category.name }}</a></p>
                <p class="text-gray">{{ news.author }}</p>
                <p class="text-gray"><i class="fa fa-clock-o fa-fw"></i>{{ news.createdAt}}</p>
                <div class="font-size-controllers">
                    <a class="font-link font-size-large mui-btn mui-btn--flat">大</a>
                    <a class="font-link font-size-middle mui-btn mui-btn--flat">中</a>
                    <a class="font-link font-size-small mui-btn mui-btn--flat">小</a>
                </div>
            </div>

            <div class="news-body">
                <div class="main-image-box" style="margin: 20px -15px;">
                    <img src="{{ news.image.url }}" />
                    <p style="font-size: 12px;padding-top: 15px;padding-left: 10px;" class="mui--text-dark-secondary">{{ news.image.description }}</p>
                </div>
                {{ news.htmlBody | safe }}
            </div>

            <!-- 沒有 API 先隱藏 -->
<!--             <div class="freeBody">
                <ul>
                    <li>
                        <a href="#">
                            <span>Link</span>
                            <i class="fa fa-chevron-right" aria-hidden="true"></i>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <span>Link</span>
                            <i class="fa fa-chevron-right" aria-hidden="true"></i>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <span>Link</span>
                            <i class="fa fa-chevron-right" aria-hidden="true"></i>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <span>Link</span>
                            <i class="fa fa-chevron-right" aria-hidden="true"></i>
                        </a>
                    </li>
                </ul>
            </div>
 -->
            <div class="arrow-block mui--appbar-line-height">
                {# 廣告版位 #}
                {% include "../ad/ad300x250.html" %}
            </div>

            <div class="arrow-block mui--appbar-line-height">
                <a href="/news/{{ news.prev._id }}" class="prev-arrow mui--text-nowrap">
                    <span>{{ news.prev.field_short_title.title }}</span>
                </a>
                <a href="/news/{{ news.next._id }}" class="next-arrow mui--text-nowrap mui--text-right">
                    <span>{{ news.next.field_short_title.title }}</span>
                </a>
            </div>

            {% include "../blocks/related-content.html" %}
            {% include "../blocks/free-body.html" %}

        </div>
    </div>

    {# 置底的 social link #}
    {% include "../blocks/social-link.html" %}

{% endblock %}
