{% extends "../base.html" %}
{% block container %}
    <div id="content-wrapper">
        <div class="mui--appbar-height"></div>

        {# 廣告版位 #}
        {% include "../ad/ad300x250.html" %}

        <div class="nownews-wrapper news-one-page">
            <h2>{{ news.shortTitle }}</h2>
            <div class="mini-info">
                <p class="text-gray">{{ news.author }}</p>
                <p class="text-gray"><i class="fa fa-clock-o fa-fw"></i>{{ news.createdAt}}</p>
                <div class="font-size-controllers">
                    <a class="font-link mui-btn mui-btn--flat">大</a>
                    <a class="font-link mui-btn mui-btn--flat">中</a>
                    <a class="font-link mui-btn mui-btn--flat">小</a>
                </div>
            </div>

            <div class="news-body">
                <div class="main-image-box" style="margin: 20px -15px;">
                    <img src="{{ news.image.url }}" />
                    <p style="font-size: 12px;padding-top: 15px;padding-left: 10px;" class="mui--text-dark-secondary">{{ news.image.description }}</p>
                </div>
                {{ news.htmlBody | safe }}
            </div>
            <!-- 沒有 API 先隱藏 -->
<!--             <div class="freeBody">
                <ul>
                    <li>
                        <a href="#">
                            <span>Link</span>
                            <i class="fa fa-chevron-right" aria-hidden="true"></i>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <span>Link</span>
                            <i class="fa fa-chevron-right" aria-hidden="true"></i>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <span>Link</span>
                            <i class="fa fa-chevron-right" aria-hidden="true"></i>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <span>Link</span>
                            <i class="fa fa-chevron-right" aria-hidden="true"></i>
                        </a>
                    </li>
                </ul>
            </div>
 -->
            <div class="arrow-block mui--appbar-line-height">
                {# 廣告版位 #}
                {% include "../ad/ad300x250.html" %}
            </div>

            <div class="arrow-block mui--appbar-line-height">
                <div class="prev-arrow mui--text-nowrap">
                    <a href="/news/{{ news.prev._id }}">{{ news.prev.title }}</a>
                </div>
                <div class="next-arrow mui--text-nowrap mui--text-right">
                    <a href="/news/{{ news.next._id }}">{{ news.next.title }}</a>
                </div>
            </div>

            {% if news.refNews.length > 0 %}
                <div class="related-news-block">
                    <h3><i class="fa fa-clone fa-fw"></i>相關新聞</h3>
                    {% for relatedNews in news.refNews %}
                        {% if loop.index > 3 and loop.index < 7 %}
                            <div class="mui-row one-news">
                                <div class="mui-col-xs-5">
                                    <img style="max-width: 100%;padding-top:5px;" src="{{ relatedNews.image.thumbnail }}">
                                </div>
                                <div class="mui-col-xs-7 related-news-info">
                                    <h4 class="category-title">{{ relatedNews.category }}</h4>
                                    <div class="mui-divider"></div>
                                    <span> {{ relatedNews.title }}</span>
                                </div>
                            </div>
                        {% endif %}
                    {% endfor %}
                </div>
            {% endif %}

            <div class="related-news-block">
                <h3><i class="fa fa-bolt fa-fw"></i>頭條新聞</h3>
                {% for news in headline %}
                    {% if loop.index < 4 %}
                        <div class="mui-row one-news">
                            <div class="mui-col-xs-5">
                                <img style="max-width: 100%;padding-top:5px;" src="{{ news.image.thumbnail }}">
                            </div>
                            <div class="mui-col-xs-7 related-news-info">
                                <h4 class="category-title">{{ news.category }}</h4>
                                <div class="mui-divider"></div>
                                <span> {{ news.title }}</span>
                            </div>
                        </div>
                    {% endif %}
                {% endfor %}
            </div>

            <div class="related-news-block">
                <h1>POPIN</h1>
            </div>

            <div class="freeBody">
                <ul>
                    <li>
                        <a href="#">
                            <img src="/static/img/link_icon-vote.png">
                            <span>投票去</span>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <img src="/static/img/link_icon-android.png">
                            <span>Android APP</span>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <img src="/static/img/link_icon-ios.png">
                            <span>IOS APP</span>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <img src="/static/img/link_icon-apk.png">
                            <span>大陸地區下載 APK 安裝</span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>

{% endblock %}
