{% extends "../temp-base.html" %}

{% block socialblock %}
    {% include "../seo/head-social-one.html" %}
{% endblock %}

{% block container %}

    {# NOWnews Page View 偵測碼 #}
    {% include "../trace/NOWpageview.html" %}

    <article id="content-wrapper">

        {# 廣告版位 #}
        {% include "../ad/one/ad300x250_1.html" %}

        <div class="nownews-wrapper news-one-page">
            {# 麵包屑開始 #}
            <div class="breadcrumb">
                <span itemscope="" itemtype="http://data-vocabulary.org/Breadcrumb">
                  <a itemprop="url" href="/"><span itemprop="title">NOWnews 今日新聞</span></a>&gt;
                </span>
                <span itemscope="" itemtype="http://data-vocabulary.org/Breadcrumb">
                  <a itemprop="url" href="/news/category/{{ news.MainMenu.categoryName }}"><span itemprop="title">{{ news.MainMenu.name or '不分類' }}</span></a>&gt;
                </span>
                <span itemscope="" itemtype="http://data-vocabulary.org/Breadcrumb">
                  <a itemprop="url" href="/news/{{ news.sn }}"><span itemprop="title">{{ news.title }}</span></a>
                </span>
            </div>
            {# 麵包屑結束 #}

            <header>
                <h1 class="title">{{ news.title }}</h1>
                <div class="mini-info">
                    <p class="text-gray one-category">
                        <a href="/news/category/{{ news.MainMenu.categoryName }}">
                            {{ news.MainMenu.name or '不分類' }}
                        </a>
                    </p>
                    <p class="text-gray">{{ news.newsBy }}</p>
                    <p class="text-gray"><i class="fa fa-clock-o fa-fw"></i>{{ news.formatStartedAt}}</p>
                    <div class="font-size-controllers">
                        <a class="font-link font-size-large mui-btn mui-btn--flat">大</a>
                        <a class="font-link font-size-middle mui-btn mui-btn--flat">中</a>
                        <a class="font-link font-size-small mui-btn mui-btn--flat">小</a>
                    </div>
                    <div class="social-box pull-left" style="width: 220px;">
                        <div class='shareaholic-canvas' style="left: -15px;position: relative;" data-app='share_buttons' data-app-id='25682984'></div>
                    </div>
                    <div class="social-box pull-right" style="top: 15px;position: relative;">
                        <div class="fb-like" data-href="{{ news.completeUrl }}" data-layout="box_count" data-action="like" fb-xfbml-state="rendered" data-size="small" data-show-faces="true" data-share="false"></div>
                    </div>
                    <div class="mui--clearfix"></div>
                </div>
            </header>

            <section class="news-body">
                <div class="main-image-box" style="margin: 10px -15px;">
                    {% if news.MainVideo.videoFrom == 'YOUTUBE' %}
                        <link type="text/css" rel="stylesheet" href="/static/css/video-js.min.css" />
                        <style>
                            .video-js .vjs-big-play-button {
                                top: 50%;
                                left: 50%;
                                margin-top: -22.5px;
                                margin-left: -45px;
                            }
                        </style>
                        <video
                            id="vid1"
                            class="video-js vjs-default-skin"
                            controls
                            poster="{{ news.MainPhoto.formatImg }}"
                            width="640" height="360"
                            data-setup='{ "techOrder": ["youtube"], "sources": [{ "type": "video/youtube", "src": "{{ news.MainVideo.url }}"}] }'
                        >
                        </video>
                        <script src="/static/js/video.min.js"></script>
                        <script src="/static/js/Youtube.min.js"></script>
                    {% elif news.MainVideo.videoFrom == 'FB' %}
                        <iframe src="https://www.facebook.com/plugins/video.php?href=https%3A%2F%2Fwww.facebook.com%2Fsunnyhundalorg%2Fvideos%2F{{ news.MainVideo.vid }}%2F&show_text=0" height="360" width="640" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true" allowFullScreen="true"></iframe>
                    {% else %}
                        <video height="400" width="480" controls><source src="{{ news.MainVideo.url }}" type="video/mp4"></video>
                    {% endif %}
                </div>
                {{ news.content | safe }}
            </section>

            {# freeBody 業務用欄位 #}
            <div class="freeBody">
                {{ news.freeBody | safe }}
            </div>

            {# DAN PMP Scrolling 廣告 HTML#}
            {% include "../ad/one/dan_pmp_scrolling.html" %}

            <div class="arrow-block mui--appbar-line-height">

                {# 中信房屋 廣告版位 #}
                {% include "../ad/one/cthouseAd.html" %}

                {# ONEAD 廣告版位 #}
                {% include "../ad/one/oneAd.html" %}

            </div>

            {# 廣告版位 #}
            {% include "../ad/one/ad300x250_2.html" %}
            {% include "./comment.html" %}
        </div>
    </article>

    {# 凱擘追蹤碼 #}
    {% include "../trace/kbro.html" %}

    {# 果實追蹤碼 #}
    {# include "../trace/oneData.html" #}

{% endblock %}
