{% extends "../base.html" %}

{% block socialblock %}
    {% include "../seo/head-social-channel.html" %}
{% endblock %}

{% block container %}
    <div id="content-wrapper">
        <div class="mui--appbar-height">{% include "../blocks/live-height.html" %}</div>
        <div id="topic-nav-block" class="{{ 'is-open' if isOpen else '' }}">
            <div class="mui-panel mui--text-center" style="background: #1380f5;">
                <span class="topic-name {{ 'mui--hide' if isOpen else '' }}"> {{ topicName }}</span>
                <i class="fa fa-play fa-rotate-90 {{ 'fa-rotate-270' if isOpen else '' }}" aria-hidden="true"></i>
            </div>
            {% include "../blocks/topic-nav.html" %}
        </div>
        <div class="nownews-wrapper">
        </div>
    </div>
{% endblock %}
