{# 新聞用 pv #}
{% if news %}
    <script type="text/javascript">
        function sendPageView () {
            var guidGenerator = function() {
                var S4 = function() {
                   return (((1+Math.random())*0x10000)|0).toString(16).substring(1);
                };
                return (S4()+S4()+"-"+S4()+"-"+S4()+"-"+S4()+"-"+S4()+S4()+S4());
            };

            var NOW_cookie = $.cookie('NOW_personalize');
            if (!NOW_cookie){
                NOW_cookie = guidGenerator();
            }
            $.cookie('NOW_personalize', NOW_cookie);

            var pageviews = $.ajax({
                url: 'https://v4api.nownews.com/pageviews',
                headers: {
                    'X-NOWnews-API': 'YouCanSeeMeJohnCena'
                },
                method: 'PUT',
                data: {
                    cookie: NOW_cookie,
                    menuId: '{{ news.MainMenu._id }}',
                    newsId: '{{ news._id }}',
                    queryString: window.location.search.replace('?', ''),
                    url: window.location.pathname
                },
                dataType: 'json'
            });

            return;
        }

        sendPageView();
    </script>
{% endif %}
