{% extends "../base.html" %}
{% block container %}
    <header class="mui-appbar mui--z1">
        <div class="mui-container">
            <table width="100%">
                <tr class="mui--appbar-height">
                    <td class="mui--text-title">
                        <a class="header-btn" href="#"><i class="fa fa-bars"></i></a>
                    </td>
                    <td class="mui--text-center">
                        <img class="mobile-logo" src="/static/img/mobile-logo.png" title="NOWnews"/>
                    </td>
                    <td class="mui--text-title" align="right">
                        <a class="header-btn" href="#"><i class="fa fa-search"></i></a>
                    </td>
                </tr>
            </table>
        </div>
    </header>
    <div id="content-wrapper">
        <div class="mui--appbar-height"></div>
        <nav class="category-select mui-container-fluid">
            <ul>
                <li class=""><a href="/realtimenews/section/new" data-role="none"><span>最新</span></a></li>
                <li class="on"><a href="/realtimenews/section/recommend" data-role="none"><span>焦點</span></a></li>
                <li class=""><a href="/realtimenews/section/hot" data-role="none"><span>熱門</span></a></li>
                <li class=""><a href="/realtimenews/section/animal" data-role="none"><span>動物</span></a></li>
                <li class=""><a href="/realtimenews/section/strange" data-role="none"><span>副刊</span></a></li>
                <li class=""><a href="/realtimenews/section/3c" data-role="none"><span>3C</span></a></li>
                <li class=""><a href="/realtimenews/section/video" data-role="none"><span>影片</span></a></li>
                <li class=""><a href="/realtimenews/section/sports" data-role="none"><span>體育</span></a></li>
                <li class=""><a href="/realtimenews/section/entertainment" data-role="none"><span>娛樂</span></a></li>
                <li class=""><a href="/realtimenews/section/fashion" data-role="none"><span>時尚</span></a></li>
                <li class=""><a href="/realtimenews/section/life" data-role="none"><span>生活</span></a></li>
                <li class=""><a href="/realtimenews/section/local" data-role="none"><span>社會</span></a></li>
                <li class=""><a href="/realtimenews/section/international" data-role="none"><span>國際</span></a></li>
                <li class=""><a href="/realtimenews/section/finance" data-role="none"><span>財經</span></a></li>
                <li class=""><a href="/realtimenews/section/property" data-role="none"><span>地產</span></a></li>
                <li class=""><a href="/realtimenews/section/politics" data-role="none"><span>政治</span></a></li>
                <li class=""><a href="/realtimenews/section/forum" data-role="none"><span>論壇</span></a></li>
                <li class=""><a href="/realtimenews/section/nextmag" data-role="none"><span>壹週刊</span></a></li>
            </ul>
        </nav>
        <div class="mui-container-fluid">
            <div class="mui-row">
                <!-- <div class="mui-col-md-12"> -->
                    <div class="single-item">
                        <div>
                            <span class="category-title">國際</span>
                            <div style="position: absolute;bottom:0;color:#fff;font-size:13px;display:block;height:50px;">
                                <p>青年海外打工圓夢去！8月打工協定的國家增加至15</p>
                            </div>
                            <img style="width: 100%;" src="/static/img/demo-img.jpg" />

                        </div>
                        <div>
                            <span class="category-title">國際2</span>
                            <div style="position: absolute;bottom:0;color:#fff;font-size:13px;display:block;height:50px;">
                                <p>青年海外打工圓夢去！8月打工協定的國家增加至15</p>
                            </div>
                            <img style="width: 100%;" src="/static/img/demo-img.jpg" />

                        </div>
                        <div>
                            <span class="category-title">國際3</span>
                            <div style="position: absolute;bottom:0;color:#fff;font-size:13px;display:block;height:50px;">
                                <p>青年海外打工圓夢去！8月打工協定的國家增加至15</p>
                            </div>
                            <img style="width: 100%;" src="/static/img/demo-img.jpg" />

                        </div>
                    </div>
                <!-- </div> -->
            </div>
        </div>

        <div class="news-block">

        </div>
        <br>
        <br>
        <button class="mui-btn mui-btn--raised">Get started</button>
    </div>
    <footer>
        <div class="mui-container mui--text-center">
            <span class="mui--text-dark">
                今日傳媒(股)公司版權所有 不許轉載 <br> © 2016 NOWnews.com. All Rights Reserved.
            </span>
        </div>
    </footer>
{% endblock%}
