{% extends "../base.html" %}
{% block container %}
    <header class="header">
        <nav class="mui-container-fluid">
            <table width="100%">
                <tr class="mui--appbar-height">
                    <td>
                        <button class="mui-btn mui-btn--flat mui-btn--primary mui-btn--fab">
                            <i class="fa fa-bars"></i>
                        </button>
                    </td>
                    <td class="mui--text-center">
                        <img src="http://www.nownews.com/assets/images/logo.png" style="width: 260px;" title="NOWnews"/>
                    </td>
                    <td align="right">
                        <button class="mui-btn mui-btn--flat mui-btn--primary mui-btn--fab">
                            <i class="fa fa-search"></i>
                        </button>
                    </td>
                </tr>
            </table>
        </nav>
        <nav class="category-select mui-container-fluid">
            <ul>
                <li class=""><a href="/realtimenews/section/new" data-role="none"><span>最新</span></a></li>
                <li class="on"><a href="/realtimenews/section/recommend" data-role="none"><span>焦點</span></a></li>
                <li class=""><a href="/realtimenews/section/hot" data-role="none"><span>熱門</span></a></li>
                <li class=""><a href="/realtimenews/section/animal" data-role="none"><span>動物</span></a></li>
                <li class=""><a href="/realtimenews/section/strange" data-role="none"><span>副刊</span></a></li>
                <li class=""><a href="/realtimenews/section/3c" data-role="none"><span>3C</span></a></li>
                <li class=""><a href="/realtimenews/section/video" data-role="none"><span>影片</span></a></li>
                <li class=""><a href="/realtimenews/section/sports" data-role="none"><span>體育</span></a></li>
                <li class=""><a href="/realtimenews/section/entertainment" data-role="none"><span>娛樂</span></a></li>
                <li class=""><a href="/realtimenews/section/fashion" data-role="none"><span>時尚</span></a></li>
                <li class=""><a href="/realtimenews/section/life" data-role="none"><span>生活</span></a></li>
                <li class=""><a href="/realtimenews/section/local" data-role="none"><span>社會</span></a></li>
                <li class=""><a href="/realtimenews/section/international" data-role="none"><span>國際</span></a></li>
                <li class=""><a href="/realtimenews/section/finance" data-role="none"><span>財經</span></a></li>
                <li class=""><a href="/realtimenews/section/property" data-role="none"><span>地產</span></a></li>
                <li class=""><a href="/realtimenews/section/politics" data-role="none"><span>政治</span></a></li>
                <li class=""><a href="/realtimenews/section/forum" data-role="none"><span>論壇</span></a></li>
                <li class=""><a href="/realtimenews/section/nextmag" data-role="none"><span>壹週刊</span></a></li>
            </ul>
        </nav>
    </header>
    <div class="mui-container-fluid">
        <div class="mui-row">
            <div class="mui-col-md-12">md-12</div>
        </div>
    </div>
    <div class="mui-container-fluid">
        <div class="mui-row content-box">
            <div class="mui-col-md-12">md-12</div>
        </div>
    </div>
{% endblock%}
