<div class="left-cover"></div>
<div class="right-cover fa-rotate-180"></div>
<ul>
    {% if categoryType == 'news' %}
        <li class="{{ 'isActive' if specialType == 'headline' else ''  }}">
            <a class="" href="/">
                <span>頭條</span>
            </a>
        </li>
    {% endif %}
    {% for category in mainCategory %}

        {% if category.isExternal %}
            <li>
                <a href="{{category.url}}">
                    <span>{{ category.name }}</span>
                </a>
            </li>
        {% else %}
             <li class="{{ 'isActive' if category.categoryName == taxId or news.MainMenu.sn == category.sn else ''  }}">
                <a href="/{{categoryType}}/category/{{ category.categoryName }}">
                    <span>{{ category.name }}</span>
                </a>
            </li>
        {% endif %}

    {% endfor %}
</ul>
