<div class="left-cover"></div>
<div class="right-cover fa-rotate-180"></div>
<ul>
    {% if categoryType == 'news' %}
        <li class="{{ 'isActive' if specialType == 'headline' else ''  }}">
            <a class="" href="/">
                <span>頭條</span>
            </a>
        </li>
        <li class="{{ 'isActive' if specialType == 'hotNews' else ''  }}">
            <a class="" href="/news/special/hotNews/">
                <span>熱門</span>
            </a>
        </li>
        <li class="{{ 'isActive' if specialType == 'instant' else ''  }}">
            <a class="" href="/news/special/instant/">
                <span>速報</span>
            </a>
        </li>

    {% endif %}
    {% for category in mainCategory %}
        <li class="{{ 'isActive' if category.tid == taxId or news.category._id == category.tid else ''  }}">
            <a class="" href="/{{categoryType}}/category/{{ category.tid }}">
                <span>{{ category.name }}</span>
            </a>
        </li>
    {% endfor %}
    {% if categoryType == 'news' %}
        <li>
            <a href="http://play.nownews.com/">
                <span>旅遊</span>
            </a>
        </li>
        <li>
            <a href="http://healthmedia.nownews.com/">
                <span>健康</span>
            </a>
        </li>
    {% endif %}
</ul>
