<!-- ### CSS ### -->

<!-- load icon font -->
<link href="/static/css/font-awesome.min.css" rel="stylesheet" type="text/css" />

<!-- load font -->
<!-- <link href="/static/css/note-san-tc.css" rel="stylesheet" type="text/css" /> -->


<!-- load MUI -->
<link href="/static/css/mui.min.css" rel="stylesheet" type="text/css" />

<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.6.0/slick.min.css"/>
<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.6.0/slick-theme.min.css"/>

<!-- 自定義 -->
<link href="/static/css/main.css" rel="stylesheet" type="text/css" />


<!-- ### JS ### -->
<!-- load jQuery -->
<script src="https://code.jquery.com/jquery-2.2.4.js"></script>

<!-- load MUI -->
<script src="/static/js/mui.min.js"></script>

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.6.0/slick.min.js"></script>

<!-- 自定義 -->
<script src="/static/js/main.js"></script>
