<header class="mui-appbar mui--z1">
    <div class="mui-container">
        <table width="100%">

            <!-- 搜尋模式 -->
            <tr id="search-bar" class="mui--appbar-height
                {{ '' if isSearch else 'mui--hide' }}">
                <td>
                    <div style="border: 1px solid blue;">
                        Area 1 (for example a sidebar)
                        <gcse:searchbox></gcse:searchbox>
                    </div>
                </td>
                <td class="mui--text-title fa-close-area" align="right">
                    <a data-on='click' data-event-category='m-search' data-event-action='close'
                        class="header-btn">
                        <img src="/static/img/icons/icon-close-b.png" />
                    </a>
                </td>
            </tr>

            <!-- 漢堡列表模式 -->
            <tr id="menu-nav-bar" class="mui--appbar-height mui--hide">
                <td class="mui--text-title mui--invisible">
                    <a class="header-btn">
                        <img src="/static/img/icons/icon-menu.png" />
                    </a>
                </td>
                <td class="mui--text-center">
                    <a data-on='click' data-event-category='m-common' data-event-action='logo' href='/?from=logo'>
                        <img class="mobile-logo" src="/static/img/ten-years-logo.png" title="NOWnews"/>
                    </a>
                </td>
                <td class="mui--text-title fa-close-area" align="right">
                    <a data-on='click' data-event-category='m-menu' data-event-action='close'
                        class="header-btn" href="#">
                        <img src="/static/img/icons/icon-close-b.png" />
                    </a>
                </td>
            </tr>

            <!-- Default Header 模式 -->
            <tr id="header-bar" class="mui--appbar-height
                {{ 'mui--hide' if (isPhotoOne or isSearch) else '' }}">
                <td class="mui--text-title fa-bars-area">
                    <a data-on='click' data-event-category='m-menu' data-event-action='open' class="header-btn">
                        <img src="/static/img/icons/icon-menu.png" />
                    </a>
                </td>
                <td class="mui--text-center">
                    <a data-on='click' data-event-category='m-common' data-event-action='logo' href='/?from=logo'>
                        <img class="mobile-logo" src="/static/img/ten-years-logo.png" title="NOWnews"/>
                    </a>
                </td>
                <td class="mui--text-title fa-search-area" align="right">
                    <a>
                    <a data-on='click' data-event-category='m-search' data-event-action='open'
                        class="header-btn" href="#">
                        <img src="/static/img/icons/icon-search.png" />
                    </a>
                </td>
            </tr>

            <!-- Photo One 模式 -->
            <tr id="photo-one-bar" class="mui--appbar-height
                {{ 'mui--show' if isPhotoOne else 'mui--hide' }}">
                <td class="mui--text-center mui--text-headline">
                    <span>1</span>/{{ photo.collectionImages.length }}
                </td>
                <td class="mui--text-title fa-close-area" align="right">
                    <a href="#" class="header-btn">
                        <img src="/static/img/icons/icon-close-b.png" />
                    </a>
                </td>
            </tr>

        </table>
    </div>
    {% include "../blocks/live-nav.html" %}
</header>

