<div class="mui-panel live-block">
    <div class="pull-left">
        <span class="mui--text-danger live-text">LIVE</span>
        <i class="fa fa-video-camera mui--text-danger live-logo" aria-hidden="true"></i>
    </div>
    <marquee class="pull-left">
        <a class="live-link" href="/live/EWRd_e3$ef">緯恩即時串流</a>|
        <a class="live-link" href="/live/EWRd_e3$ef">緯恩即時串流</a>|
        <a class="live-link" href="/live/EWRd_e3$ef">緯恩即時串流</a>
    </marquee>
    <div class="clear"></div>
</div>
<style>
.live-text {
    background: #F44336;
    color: #fff;
    padding: 3px 13px;
    letter-spacing: 2px;
    margin-right: 10px;
    position: relative;
    top: -4px;
}
.live-logo {
    font-size: 25px;
}
.live-link {
    padding: 15px;
    font-size: 15px;
}
.live-block {
    margin: 0;
    padding: 5px 15px;
}
marquee {
    margin-left: 10px;
    width: calc(100% - 115px);
}
</style>
