{% if live and live.campainStatus %}
    <div class="live-block">
        <div class="pull-left live-text-block ">
            {% if live.isOnAir %}
                <span class="mui--text-danger live-text">LIVE</span>
            {% else %}
                <span class="mui--text-danger live-text live-notice">預告</span>
            {% endif %}
        </div>
        <div class="marquee pull-left">
            <ul>
                <li>
                    {% if live.isOnAir %}
                        <a class="live-link" href="/live/{{ live.youtubeId }}">{{ live.title }}</a>
                    {% else %}
                        <a class="live-link" href="#">{{ live.teaserTitle }}</a>
                    {% endif %}
                </li>
            </ul>
            </div>
        <div class="clear"></div>
    </div>
    <style>
    .live-notice.live-text {
        background: none;
        animation: none;
    }
    .live-text-block {
        width: 100px;
        text-align: center;
    }
    .live-text {
        background: #e72300;
        color: #fff;
        padding: 5px 15px;
        letter-spacing: 2px;
        font-size: 15px;
        border-radius: 5px;
        -webkit-animation: 1s opas infinite;
        -moz-animation: 1s opas infinite;
        animation: 1s opas infinite;
    }
    .live-link {
        font-size: 18px;
        color: #fff;
    }
    .live-block {
        background: #000f2e;
        height: 40px;
        line-height: 40px;
    }
    .marquee {
        background: #009 url(/static/img/live-nav-bg.png);
        background-repeat: no-repeat;
        width: calc(100% - 100px);
        overflow: hidden;
        position: relative;
        height: 100%;
    }

    .marquee > ul {
        padding-left: 0;
        display: flex;
        list-style-type: none;
        animation: marquee 15s linear infinite;
        position: absolute;
    }

    .marquee > ul > li {
        white-space: nowrap;
        margin-right: 2em;
        font-weight: bold;
        color: #fff;
    }

    @keyframes marquee {
        0% {
            left: 100%;
            transform: translateX(0%);
        }

        100% {
            left: 0;
            transform: translateX(-100%);
        }
    }
    @-webkit-keyframes opas {
        0% {
            opacity: 1;
        }
        50% {
            opacity: 0.7;
        }
        100% {
            opacity: 1;
        }
    }
    @-moz-keyframes opas {
        0% {
            opacity: 1;
        }
        50% {
            opacity: 0.7;
        }
        100% {
            opacity: 1;
        }
    }
    @keyframes opas {
        0% {
            opacity: 1;
        }
        50% {
            opacity: 0.7;
        }
        100% {
            opacity: 1;
        }
    }
    </style>
{% endif %}
