<nav id="menu-nav" class="mui--hide">
    <div class="mui--appbar-height"></div>
    <div id="menu-nav-wrapper" class="mui-container">
        <div class="menu-nav-item">
            <a data-on='click' data-event-category='m-menu' data-event-action='news'
                href="/?from=menu">新聞</a>
        </div>
        <div class="menu-nav-item">
            <a data-on='click' data-event-category='m-menu' data-event-action='channel'
                href="/news/channel?isOpen=true&from=menu">特輯</a>
        </div>
        <div class="menu-nav-item">
            <a data-on='click' data-event-category='m-menu' data-event-action='topic'
                href="/news/topic?from=menu">專題</a>
        </div>
        <div class="menu-nav-item">
            <a data-on='click' data-event-category='m-menu' data-event-action='huasons'
                href="http://huasons.nownews.com/" target="_blank">花生網</a>
        </div>
        <div class="menu-nav-item">
            <a data-on='click' data-event-category='m-menu' data-event-action='about-me'
                href="/about?from=menu">關於 NOWnews</a>
        </div>
        <div id="menu-social-link" class="social-link">
            <div class='shareaholic-canvas' data-app='share_buttons' data-app-id='25682851'></div>
        </div>
    <div>
</nav>
