<nav id="menu-nav" class="mui--hide">
    <div class="mui--appbar-height"></div>
    <div id="menu-nav-wrapper" class="mui-container">
        <div class="menu-nav-item">
            <a href="/">新聞</a>
        </div>
        <div class="menu-nav-item">
            <a href="/photo">圖集</a>
        </div>
        <div class="menu-nav-item">
            <a href="/video">影音</a>
        </div>
        <div class="menu-nav-item">
            <a href="/news/channel">特輯</a>
        </div>
        <div class="menu-nav-item">
            <a href="http://huasons.nownews.com/" target="_blank">花生網</a>
        </div>
        <div class="menu-nav-item">
            <a href="http://beauty.nownews.com/" target="_blank">美人幫</a>
        </div>
        <div class="menu-nav-item">
            <a href="http://vote.nownews.com/" target="_blank">議題票選</a>
        </div>
        <div class="menu-nav-item">
            <a href="#" target="_blank">關於 NOWnews</a>
        </div>
        <div id="menu-social-link" class="social-link">
            <a href="https://www.facebook.com/nownews" target="_blank">
                <div class="bg-fb mui-btn mui-btn--fab">
                    <i class="fa fa-lg fa-facebook"></i>
                </div>
            </a>
            <a href="#" target="_blank">
                <div class="bg-line mui-btn mui-btn--fab">
                    <i class="line">Line</i>
                </div>
            </a>
            <a href="https://plus.google.com/+nownews" target="_blank">
                <div class="bg-google mui-btn mui-btn--fab">
                    <i class="fa fa-lg fa-google-plus"></i>
                </div>
            </a>
            <a href="#" target="_blank">
                <div class="bg-wechat mui-btn mui-btn--fab">
                    <i class="fa fa-lg fa-wechat"></i>
                </div>
            </a>
        </div>
    <div>
</nav>
