<div class="news-block">
    <div class="mui-container-fluid">
        <div class="mui-row">
            <a href="/news/{{ news._id }}">
                <img class="news-main-image" src="{{ news.image.thumbnail if news.image.thumbnail else 'http://legacy.nownews.com/NOWnews_default/default_terry.jpg' }}" />
                <div class="news-info">
                    <p class="category-title">
                        {% if news.category == null %}不分類{% endif %}{{ news.category.name }}
                    </p>
                    <p class="info-title">{{ news.field_short_title.value }}</p>
                    <p class="info-caption text-gray">{{ news.createdAt }}</p>
                </div>
            </a>
        </div>
    </div>
</div>
