
<div class="related-news-block">
    <h3><i class="fa fa-clone fa-fw"></i>相關新聞</h3>
    {% for relatedNews in news.refNews %}
        {% if loop.index > 3 and loop.index < 7 %}
            <div class="mui-row one-news">
                <a href="/news/{{ relatedNews._id }}">
                    <div class="mui-col-xs-5">
                        <img src="{{ relatedNews.image.thumbnail }}">
                    </div>
                    <div class="mui-col-xs-7 related-news-info">
                        <h4 class="category-title">{{ relatedNews.category.name }}</h4>
                        <div class="mui-divider"></div>
                        <span> {{ relatedNews.title }}</span>
                    </div>
                </a>
            </div>
        {% endif %}
    {% endfor %}

    {% include "../ad/ad-related-block.html" %}

</div>

<div class="related-news-block">
    <h3><i class="fa fa-bolt fa-fw"></i>頭條新聞</h3>
    {% for news in headline %}
        {% if loop.index < 4 %}
            <div class="mui-row one-news">
                <a href="/news/{{ news._id }}">
                    <div class="mui-col-xs-5">
                        <img src="{{ news.image.thumbnail }}">
                    </div>
                    <div class="mui-col-xs-7 related-news-info">
                        <h4 class="category-title">{{ news.category.name }}</h4>
                        <div class="mui-divider"></div>
                        <span> {{ news.title }}</span>
                    </div>
                </a>
            </div>
        {% endif %}
    {% endfor %}
</div>

<div class="related-news-block">
    <h1>POPIN</h1>
</div>
