{% if type != 'video' %}
    <div class="related-news-block">
        <h3><i class="fa fa-clone fa-fw"></i>相關新聞</h3>
        {% for relatedNews in news.refNews %}

            {% if loop.index == 2 %}
                {% include "../ad/ad-related-block.html" %}
            {% endif %}

            {% if loop.index == 4 %}
                {% include "../ad/one/microad2.html" %}
            {% endif %}

            {% if loop.index < 6 %}
                <div class="mui-row one-news">
                    <a href="/news/{{ relatedNews._id }}{{queryParams}}">
                        <div class="mui-col-xs-5">
                            <img src="{{ relatedNews.image.thumbnail if relatedNews.image.thumbnail else 'https://legacy.nownews.com/NOWnews_default/default_terry.jpg' }}">
                        </div>
                        <div class="mui-col-xs-7 related-news-info">
                            <h4 class="category-title tid{{ relatedNews.category._id }}">
                                {{ relatedNews.category.name or '不分類' }}
                            </h4>
                            <div class="mui-divider"></div>
                            <span> {{ relatedNews.title }}</span>
                        </div>
                    </a>
                </div>
            {% endif %}
        {% endfor %}
    </div>
{% endif %}
{% include "../ad/one/ad300x250_relation.html" %}



<div class="related-news-block">
    <h3><i class="fa fa-bolt fa-fw"></i>頭條新聞</h3>
    {% for news in headline %}

        {# 微告台灣原生廣告 #}
        {% if loop.index == 2 %}
            {% include "../ad/one/microad.html" %}
        {% endif %}

        {# advs 原生廣告 #}
        {% if loop.index == 2 %}
            {% include "../ad/one/advs.html" %}
        {% endif %}

        {% if loop.index < 4 %}
            <div class="mui-row one-news">
                <a href="/news/{{ news._id }}{{queryParams}}">
                    <div class="mui-col-xs-5">
                        <img src="{{ news.image.thumbnail if news.image.thumbnail else 'https://legacy.nownews.com/NOWnews_default/default_terry.jpg' }}">
                    </div>
                    <div class="mui-col-xs-7 related-news-info">
                        <h4 class="category-title tid{{ news.category._id }}">
                            {{ news.category.name or '不分類' }}
                        </h4>
                        <div class="mui-divider"></div>
                        <span> {{ news.title }}</span>
                    </div>
                </a>
            </div>
        {% endif %}
    {% endfor %}
</div>
{% include "../ad/one/ad300x250_head.html" %}
