<nav id="social-link" class="mui--text-center social-link fixed-bottom">
    <ul>
        <li class="bg-fb">
            <a href="#">
                <i class="fa fa-lg fa-facebook"></i>
            </a>
        </li>
        <li class="bg-line">
            <a href="#">
                <i class="line">Line</i>
            </a>
        </li>
        <li class="bg-google">
            <a href="#">
                <i class="fa fa-lg fa-google-plus"></i>
          </a>
        </li>
        <li class="bg-wechat">
            <a href="#">
                <i class="fa fa-lg fa-wechat"></i>
            </a>
        </li>
    </ul>
</nav>
