<!doctype html>
<html>
    <head>
        {% include "./blocks/head-meta.html" %}
        {% include "./blocks/head-include.html" %}

        {# seo block #}
        {% include "./seo/base/fbBase.html" %}
        {% block socialblock %}{% endblock %}

        {# JSON-LD 資料 #}
        {% include "./seo/jsonld.html" %}
    </head>

    <body>
        {% include "./blocks/header.html" %}
        {% include "./blocks/menu-nav.html" %}
        {% block container %}{% endblock %}
        {% include "./blocks/footer.html" %}
        <div class="custom-space"></div>
        <div class="mui--hide" id="loading"></div>
    </body>

</html>
