{% set adShortTitile = "贊助標題短標贊助標題短標贊助標題短標" %}
<!-- {% set ad640x360 = "http://lorempixel.com/640/360/technics/" %} -->
{% set ad640x360 = "https://placehold.it/640x360" %}

<div class="news-block">
    <div class="mui-container-fluid">
        <div class="mui-row">
            <a href="#">
                <div calss="ads-block">
                    <img class="news-main-image" src="{{ ad640x360 }}"/>
                </div>
                <div class="sponser news-info-with-bg">
                    <p class="info-caption" style="margin-top:10px"> Sponsor </p>
                    <p class="info-title">{{ adShortTitile }}</p>
                    <p class="info-caption text-gray"></p>
                </div>
            </a>
        </div>
    </div>
</div>

{#
    廣告邏輯
     - 每三則做由 300x250 以及 320x100 做置換
     - 目前寫死
#}
{% if loop.index % 2 == 0 %}
    {% if loop.index == (slideItem+1) * 1 %}
        {% include "../ad/list/ad300x250_1.html" %}
    {% elif loop.index == (slideItem+1) * 2 %}
        {% include "../ad/list/ad300x250_2.html" %}
    {% elif loop.index == (slideItem+1) * 3 %}
        {% include "../ad/list/ad300x250_3.html" %}
    {% elif loop.index == (slideItem+1) * 4 %}
        {% include "../ad/list/ad300x250_4.html" %}
    {% elif loop.index == (slideItem+1) * 5 %}
        {% include "../ad/list/ad300x250_5.html" %}
    {% elif loop.index == (slideItem+1) * 6 %}
        {% include "../ad/list/ad300x250_6.html" %}
    {% elif loop.index == (slideItem+1) * 7 %}
        {% include "../ad/list/ad300x250_7.html" %}
    {% endif %}
{% else %}
    {% if loop.index - 3 == (slideItem+1) * 1 %}
        {% include "../ad/list/ad320x100_1.html" %}
    {% elif loop.index - 3 == (slideItem+1) *2 %}
        {% include "../ad/list/ad320x100_2.html" %}
    {% endif %}
{% endif %}
