{% set adShortTitile = "贊助標題短標贊助標題短標贊助標題短標" %}
<!-- {% set ad640x360 = "http://lorempixel.com/640/360/technics/" %} -->
{% set ad480x360 = "https://placehold.it/480x360" %}

<div class="video-block">
    <div class="mui-container-fluid">
        <div class="mui-row">
            <div class="shadow-photo">
                <a href="#">
                    <div calss="ads-block">
                        <img class="video-main-image" src="{{ ad480x360 }}"/>
                    </div>
                    <div class="sponser shadow-photo-info">
                        <p class="info-caption info-gray"> Sponsor </p>
                        <p class="info-title">{{ adShortTitile }}</p>
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>
{% if loop.index % 2 == 0 %}
    {% include "../ad/ad300x250.html" %}
{% else %}
    {% include "../ad/ad320x100.html" %}
{% endif %}
