{% extends "../base.html" %}

{% block socialblock %}
    {% include "../seo/head-social-category.html" %}
{% endblock %}

{% block container %}
    <div id="content-wrapper">
        <div class="mui--appbar-height">{% include "../blocks/live-height.html" %}</div>
        <nav class="category-select mui-container-fluid">
            {% set categoryType = 'news' %}
            {% include "../blocks/category-nav.html" %}
        </nav>
        <div class="nownews-wrapper">
            {% include "../trace/gcs.html" %}
        </div>
    </div>
{% endblock %}
