{% extends "../base.html" %}

{% block socialblock %}
    <!--for base meta -->
    <title>{{ topicName }} | NOWnews今日新聞</title>
    <meta name="description" content="" />
    <meta name="keywords" content="">

    <!-- for facebook use2-->
    <meta property="og:url" content="https://www.nownews.com/news/topic">
    <meta property="og:title" content="{{ topicName }} | NOWnews今日新聞">
    <meta property="og:description" content="">
    <meta property="og:image" content="/static/img/mobile-logo-dark.png">

    <!-- for Google plus use -->
    <meta itemprop="url" content="https://www.nownews.com/news/topic">
    <meta itemprop="name" content="{{ topicName }} | NOWnews今日新聞">
    <meta itemprop="description" content="">
    <meta itemprop="image" content="/static/img/mobile-logo-dark.png">
    <meta itemprop="keywords" content="">
    <meta itemprop="articleSection" content="">
    <meta itemprop="dateCreated" content="">
    <meta itemprop="dateModified" content="">
    <meta itemprop="datePublished" content="">
    <link rel="canonical" href="https://www.nownews.com/news/topic">

{% endblock %}

{% block container %}
    <div id="content-wrapper">
        <div class="mui--appbar-height">{% include "../blocks/live-height.html" %}</div>
        <div id="topic-nav-block" class="{{ 'is-open' if isOpen else '' }}">
            <div class="mui-panel mui--text-center" style="background: #1380f5;">
                <span class="topic-name {{ 'mui--hide' if isOpen else '' }}"> {{ topicName }}</span>
                <i class="fa fa-play fa-rotate-90 {{ 'fa-rotate-270' if isOpen else '' }}" aria-hidden="true"></i>
            </div>
            {% include "../blocks/topic-nav.html" %}
        </div>
        <div class="nownews-wrapper">
            {% for news in newsList %}
                <div class="news-block">
                    <div class="mui-container-fluid">
                        <div class="mui-row">
                            <a href="{{ news.url }}">
                                <img class="news-main-image" src="{{ news.MainPhoto.googleCDN if news.MainPhoto.googleCDN else 'https://legacy.nownews.com/NOWnews_default/default_terry.jpg' }}" />
                                <div class="news-info-bg">
                                </div>
                                <div class="news-info">
                                    <p class="category-title">
                                        {{ news.MainMenu.name or '專題' }}
                                    </p>
                                    <p class="info-title"><h2 class="category-newstitle">{{ news.title }}</h2></p>
                                    <p class="info-caption text-gray">{{ news.formatCreatedAt }}</p>
                                </div>
                                <div class="line"></div>
                            </a>
                        </div>
                    </div>
                </div>

                {# 廣告版位 #}
                {% if loop.index % 3 == 0 %}
                    {% set noSliderNumber = loop.index %}
                    {% include "../ad/ad-news-block.html" %}
                {% endif %}
            {% endfor %}
        </div>
    </div>
{% endblock %}
