{# 因為只有專題才會有自己的指定的 url，因此用此判斷  #}

<div class="news-block">
    <div class="mui-container-fluid">
        <div class="mui-row">
            <a href="{{ news.url if news.url else '/news/' + news.sn }}?from=m{{queryString}}list"
                data-on='click' data-event-category='m-{{eventCategory}}' data-event-action="list">
                <div class="news-main-image">
                    <img src="{{ news.MainPhoto.formatImg }}" />
                </div>
                <div class="news-info-bg">
                </div>
                <div class="news-info">
                    <p class="category-title">
                        {% if news.url %}
                            {{ news.MainMenu.name or '專題' }}
                        {% else %}
                            {{ news.MainMenu.name or '不分類' }}
                        {% endif %}
                    </p>
                    <p class="info-title"><h2 class="category-newstitle">{{ news.shortTitle or news.title }}</h2></p>
                    <p class="info-caption text-gray">{{ news.formatStartedAt }}</p>
                </div>
                <div class="line"></div>
            </a>
        </div>
    </div>
</div>
