<div class="news-block">
    <div class="mui-container-fluid">
        <div class="mui-row">
            <a href="/news/{{ news.sn }}">
                <img class="news-main-image" src="{{ 'https://imgapiv2.nownews.com/?w=640&h=360&q=70&src=' + news.MainPhoto.googleCDN if news.MainPhoto.googleCDN else 'https://legacy.nownews.com/NOWnews_default/default_terry.jpg' }}" />
                <div class="news-info-bg">
                </div>
                <div class="news-info">
                    <p class="category-title">
                        {{ news.MainMenu.name or '不分類' }}
                    </p>
                    <p class="info-title"><h2 class="category-newstitle">{{ news.shortTitle }}</h2></p>
                    <p class="info-caption text-gray">{{ news.formatStartedAt }}</p>
                </div>
                <div class="line"></div>
            </a>
        </div>
    </div>
</div>
