<div class="mui--text-center ads-block" style="margin: 20px auto;">
    <script>
        googletag.cmd.push(function() {
            googletag.defineSlot('/5799246/Nownews_mobileweb_article_300x250_hotnewsB', [300, 250], 'div-gpt-ad-1493347944847-0').addService(googletag.pubads());
            googletag.pubads().setForceSafeFrame(true);
            googletag.pubads().enableSingleRequest();
            googletag.pubads().collapseEmptyDivs();
            googletag.enableServices();
        });
    </script>

    <!-- /5799246/Nownews_mobileweb_article_300x250_hotnewsB -->
    <div id='div-gpt-ad-1493347944847-0' style='height:250px; width:300px;'>
        <script>
            googletag.cmd.push(function() {
                googletag.display('div-gpt-ad-1493347944847-0');
            });
        </script>
    </div>
</div>
