{# 成果 DAN PMP JS 廣告類型 #}

{% if news and news.sn %}
    <script async='async' src='https://www.googletagservices.com/tag/js/gpt.js'></script>
    <script>
        var googletag = googletag || {};
        googletag.cmd = googletag.cmd || [];
    </script>
    <script>
        googletag.cmd.push(function() {
          googletag.defineSlot('/7682122/DAN_PMP_Nownews_Expandable_pingpong_mobile_320x50', [[320, 50], [320, 100]], 'div-gpt-ad-1480500714351-0').addService(googletag.pubads());

          googletag.defineSlot('/7682122/DAN_PMP_Nownews_Parallax_Scrolling_mobile_1x1', [1, 1], 'div-gpt-ad-1487330215915-0').addService(googletag.pubads());

          googletag.pubads().enableSingleRequest();
          googletag.pubads().collapseEmptyDivs();
          googletag.enableServices();
        });
    </script>
{% endif %}