<div class="xxix-box">
    <div class="close"><img src="/static/img/icons/icon-close.png" /></div>
    <div class="mui--text-center xxix">
        <div class="hint">
            <i class="fa fa-comment fa-flip-horizontal" aria-hidden="true"></i>
            <img src="/static/img/eventPage/XXIX/hint.png" />
        </div>
        <img src="/static/img/eventPage/XXIX/{{ news.SummerUniversiade.kind }}.gif" />
        <h3>{{ news.SummerUniversiade.createdAt }}{{ news.SummerUniversiade.id }}</h3>
        <a class="callToAction" href='https://goo.gl/WvaHCJ' target='_blank'>
            <img src="/static/img/eventPage/XXIX/calltoaction.png">
        </a>
    </div>
</div>
<style type="text/css">
    .xxix-box {
        /*display: none;*/
        background: rgba(0, 0, 0, 0.6);
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 2;
        color: #fff;
    }
    .xxix {
        position: fixed;
        z-index: 9999999;
        top: 50%;
        margin-top: -150px;
        width: 100%;
        padding: 0 20px;
    }
    .xxix img {
        width: 200px;
    }
    .xxix-box .close {
        cursor: pointer;
        padding: 18px;
        z-index: 1;
        right: 0;
        top: 60px;
        position: absolute;
    }
    .xxix-box .close img {
        max-width: 25px;
    }
    .xxix-box .callToAction {
        background: #F15BA6;
        display: block;
        width: 100%;
        margin: auto;
    }
    .xxix-box .callToAction:hover {
        color: white;
    }
    .xxix-box .hint {
        position: relative;
        top: -50px;
    }
    .xxix-box .hint i {
        color: #F9BA2B;
        font-size: 70px;
        position: absolute;
        left: 20px;
    }
    .xxix-box .hint img {
        position: absolute;
        left: 20px;
        top: 15px;
        width: 70px;
    }
</style>
<script type="text/javascript">
if (window.location.search.indexOf('demo') > 0){
    $('.xxix-box').show();
    $('body').addClass('mui-body--scroll-lock');
}
$('.xxix-box .close').on('click', function(){
    $('.xxix-box').hide();
    $('body').removeClass('mui-body--scroll-lock');
});
</script>