<!-- {% set ad320x50 = "http://lorempixel.com/320/50/technics/" %} -->
{% set ad320x50 = "https://placehold.it/320x50" %}
<div class="mui--text-center ads-block fixed-bottom">
    <div>
        <script type='text/javascript'>
            googletag.cmd.push(function() {
                googletag.defineSlot('/5799246/Nownews_mobileweb_setend_320x50', [320, 50], 'div-gpt-ad-1458198588733-0').addService(googletag.pubads());
                googletag.pubads().enableSingleRequest();
                googletag.enableServices();
            });
        </script>
        <!-- 原始碼是 display:none, 不過加了就會顯示不出來，因此先故意讓 css  失效 -->
        <div id="sf_popfix" style="display:none1;">
            <!-- /5799246/Nownews_mobileweb_setend_320x50 -->
            <div id='div-gpt-ad-1458198588733-0' style='height:50px; width:320px;'>
                <script type='text/javascript'>
                    googletag.cmd.push(function() {
                        googletag.display('div-gpt-ad-1458198588733-0');
                    });
                </script>
            </div>
        </div>
        <script type="text/javascript" src="http://cdn2.sales-frontier.com/adtype/popfix/sfpopfix.js" id="sfpopfix1" sf_scolor="#0000ff" sf_ecolor="#ff0000" sf_close="Y" charset="UTF-8"></script>
    </div>
</div>
