<div class="mui--text-center ads-block ads-cover dfp">
    <script>
        googletag.cmd.push(function() {
            googletag.defineSlot('/5799246/mb_cover_test', [
                [300, 600],
                [480, 320],
                [300, 250],
                [320, 480],
                [260, 480]
            ], 'div-gpt-ad-1472637688793-0')
                .addService(googletag.pubads())
                .setCollapseEmptyDiv(true,true);
            googletag.pubads().enableSingleRequest();
            googletag.enableServices();
        });
    </script>

    <!-- /5799246/mb_cover_test -->
    <div id='div-gpt-ad-1472637688793-0'>
        <script>
            googletag.cmd.push(function() {
                googletag.display('div-gpt-ad-1472637688793-0');
            });
        </script>
    </div>
</div>
