{% extends "../base.html" %}
{% block container %}
    <div id="content-wrapper">
        <div class="mui--appbar-height"></div>
        <nav id="photo-category-nav" class="category-select mui-container-fluid">
          <ul>
              {% for category in mainCategory %}
                  <li class=""><a href="/photo/category/{{ category.tid }}"><span>{{ category.name }}</span></a></li>
              {% endfor %}
          </ul>
        </nav>

        <div class="nownews-wrapper">
            {% for photo in photoList %}
                <div class="mui-container-fluid">
                    <div class="mui-row">
                        <a href="#">
                            <img class="photo-main-image" src="{{ photo.image.thumbnail }}" />
                            <div class="photo-titile">
                                {{ photo.field_short_title.value }}
                            </div>
                        </a>
                    </div>
                </div>
            {% endfor %}
        </div>
        <br>
        <br>
    </div>
{% endblock %}
