<!--for base meta -->
<title>{{ newsList[0].MainMenu.name }} | NOWnews今日新聞</title>
<meta name="description" content="" />
<meta name="keywords" content="">

<!-- for facebook use2-->
<meta property="og:url" content="https://www.nownews.com/news/category/{{ categoryName }}">
<meta property="og:title" content="{{ newsList[0].MainMenu.name }} | NOWnews今日新聞">
<meta property="og:description" content="">
<meta property="og:image" content="/static/img/timeline-circle.png">

<!-- for Google plus use -->
{% if not categoryName %}
<meta itemprop="url" content="https://www.nownews.com/news/category/{{ categoryName }}">
<meta itemprop="name" content="{{ newsList[0].MainMenu.name }} | NOWnews今日新聞">
<meta itemprop="image" content="/static/img/timeline-circle.png">
<meta itemprop="articleSection" content="{{ newsList[0].MainMenu.name }}">

{% endif %}

<meta itemprop="keywords" content="">
<meta itemprop="description" content="">
<meta itemprop="dateCreated" content="">
<meta itemprop="dateModified" content="">
<meta itemprop="datePublished" content="">
<link rel="canonical" href="https://www.nownews.com/news/category/{{ categoryName }}">
