{% if specialType=='headline' %}
    {% set specialName = '首頁 | 行動版' %}
    {% set url = '/' %}
{% elif specialType=='hotNews' %}
    {% set specialName = '熱門' %}
    {% set url = '/news/special/hotNews/' %}
{% elif specialType=='instant' %}
    {% set specialName = '速報' %}
    {% set url = '/news/special/instant/' %}
{% endif %}
<!--for base meta -->
<title>{{ specialName }} | NOWnews今日新聞</title>
<meta name="description" content="由今日傳媒股份有限公司經營，為台灣網路媒體。每日產製逾4百則以上新聞，內容包含政經、生活、運動、娛樂、國際等軟硬性新聞，屬綜合性的網路新聞網站，NOWnews今日新聞除了擁有獨立的編採團隊外，並具備影音多媒體內容數位轉製，傳送各類通路平台（從網際網路到平面及行動通訊）的專業技術與能力。因此，除了深耕新聞領域，也積極與各家平面、電子、網路媒體業者進行多方合作。" />
<meta name="keywords" content="今日新聞,NOWnews">

<!-- for facebook use2-->
<meta property="og:url" content="https://m.nownews.com/{{ url }}">
<meta property="og:title" content="{{ specialName }} | NOWnews今日新聞">
<meta property="og:description" content="由今日傳媒股份有限公司經營，為台灣網路媒體。每日產製逾4百則以上新聞，內容包含政經、生活、運動、娛樂、國際等軟硬性新聞，屬綜合性的網路新聞網站，NOWnews今日新聞除了擁有獨立的編採團隊外，並具備影音多媒體內容數位轉製，傳送各類通路平台（從網際網路到平面及行動通訊）的專業技術與能力。因此，除了深耕新聞領域，也積極與各家平面、電子、網路媒體業者進行多方合作。 ">
<meta property="og:image" content="https://m.nownews.com/static/img/timeline-circle.jpg">

<!-- for Google plus use -->
{% if not isHomePage %}
<meta itemprop="url" content="https://m.nownews.com/{{ url }}">
<meta itemprop="name" content="{{ specialName }} | NOWnews今日新聞">
<meta itemprop="description" content="由今日傳媒股份有限公司經營，為台灣網路媒體。每日產製逾4百則以上新聞，內容包含政經、生活、運動、娛樂、國際等軟硬性新聞，屬綜合性的網路新聞網站，NOWnews今日新聞除了擁有獨立的編採團隊外，並具備影音多媒體內容數位轉製，傳送各類通路平台（從網際網路到平面及行動通訊）的專業技術與能力。因此，除了深耕新聞領域，也積極與各家平面、電子、網路媒體業者進行多方合作。 ">
<meta itemprop="image" content="https://m.nownews.com/static/img/timeline-circle.jpg">
<meta itemprop="keywords" content="今日新聞,NOWnews">
<meta itemprop="articleSection" content="{{ specialName }}">
<meta itemprop="dateCreated" content="">
<meta itemprop="dateModified" content="">
<meta itemprop="datePublished" content="">
<link rel="canonical" href="https://m.nownews.com/{{ url }}">
{% endif %}

