<!--for base meta -->
<title>{{ live.title }} | 直播 | NOWnews今日新聞</title>
<meta name="description" content="{{ live.title }}" />
<meta name="keywords" content="">

<!-- for facebook use2-->
<meta property="og:url" content="https://m.nownews.com/live/{{ live.youtubeId }}">
<meta property="og:title" content="{{ live.title }} | NOWnews今日新聞">
<meta property="og:description" content="{{ live.title }}">
<meta property="og:image" content="{{ live.banner }}">

<!-- for Google plus use -->
<meta itemprop="url" content="https://m.nownews.com/live/{{ live.youtubeId }}">
<meta itemprop="name" content="{{ live.title }} | NOWnews今日新聞">
<meta itemprop="description" content="{{ live.title }}">
<meta itemprop="image" content="{{ live.banner }}">
<meta itemprop="keywords" content="">
<meta itemprop="articleSection" content="直播">
<link rel="canonical" href="https://m.nownews.com/live/{{ live.youtubeId }}">
