<!--for base meta -->
<title>{{ news.title }} | {{ news.MainMenu.name }} | NOWnews今日新聞</title>
<meta name="description" content="{{ news.summary }}" />
<meta name="keywords" content="{{ news.newsKeywords }}">
<meta name="news_keywords" content="{{ news.newsKeywords }}">

<!-- for facebook use2-->
<meta property="og:url" content="{{ news.completeUrl }}">
<meta property="og:title" content="{{ news.title }}">
<meta property="og:description" content="{{ news.summary }}">
<meta property="og:image" content="{{ news.MainPhoto.url }}">
{% if news.MainPhoto.thumbnail %}
<meta property="og:image" content="{{ news.MainPhoto.thumbnail }}">
<meta property="popin:image" content="{{ news.MainPhoto.thumbnail }}">
{% else %}
<meta property="og:image" content="{{ news.formatImg }}">
<meta property="popin:image" content="{{ news.formatImg }}">
{% endif %}
<meta property="article:author" content="https://www.facebook.com/nownews">

<!-- for Google plus use -->
<meta itemscope itemprop="mainEntityOfPage"  itemType="https://schema.org/WebPage" />
<meta itemprop="url" content="{{ news.completeUrl }}">
<meta itemprop="name" content="{{ news.title }}">
<meta itemprop="description" content="{{ news.summary }}">

<meta itemprop="keywords" content="{{ news.newsKeywords }}">

<meta itemprop="articleSection" content="{{ news.MainMenu.name }}">
<meta itemprop="dateCreated" content="{{ news.createdAt }}">
<meta itemprop="dateModified" content="{{ news.updatedAt }}">
<meta itemprop="datePublished" content="{{ news.createdAt }}">
<link rel="canonical" href="{{ news.completeUrl }}">
